body {
  background: lightblue;
}
h1 {
  font-family: Arial;
}
.informacion ul a {
  color: white;
  font-size: 18px;
}
.informacion {
  box-shadow: 0px 0px 5px black;
  text-shadow: 0px 0px 5px gray;
}
h1 {
  font-size: 37px;
}
h1 {
  color: blue;
  color: black;
}
.informacion {
  height: 900px;
  height: 450px;
  height: 300px;
  height: 225px;
  height: 180px;
}
